<div class="container-fluid"><br>
  <div class="row">
    <div class="col-sm-3">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="./assets/elnegro.png" class="rounded float-left" alt="Elne"></a>
        </li>

        <li class="nav-item">
          <span class="pull-left lead">{{usuarioPerfil.nombreApellido}}</span>
        </li>
        <li class="nav-item">
          <span class="pull-left">{{usuarioPerfil.nombreUsuario}}</span>
        </li>
        <br>
        <li class="nav-item active">
          <span class="pull-left fa fa-envelope"></span>
          <span class="pull-left">{{usuarioPerfil.email}}</span>
        </li>
        <li class="nav-item active">
          <span class="pull-left fa fa-users"></span>
          <span class="pull-left">Seguidores: {{usuarioPerfil.amigos.length}}</span>
        </li>
        <li class="nav-item active">
          <span class="pull-left fa fa-star"></span>
          <span class="pull-left">{{usuarioPerfil.tipoDeUsuario.nom}}</span>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 table-wrapper-scroll-y">
      <h3>Amigos</h3>
      <br />
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of usuarioPerfil.amigos ">
            <td>{{a.nombreApellido}}</td>
            <td>{{a.email}}</td>
            <td>
              <button id="eliminarAmigo" type="button" title="Eliminar Amigo" class="btn btn-ligth" (click)="eliminarAmigo(a.id)">
                <i class="fa fa-remove" style="font-size:1.05em; color:red"></i>
              </button>
            </td>
        </tbody>
      </table>
    </div>

  </div>
</div>