<div class="container">
  <h5>Eventos Abiertos</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Evento</th>
        <th>Lugar</th>
        <th>Entradas Vendidas</th>
        <th>Edad Mínima</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of eventos">
        <!-- FP -->
        <td>{{e.fechaDeInicio}}</td>
        <td>{{e.nombre}}</td>
        <td>{{e.locacion}}</td>
        <td>{{e.entradasVendidas()}}</td> <!-- FP -->
        <td>{{e.edadMinima}}</td>
        <td>{{e.precioEntrada}}</td>
      </tr>
    </tbody>
  </table>
</div>