
<button 
type="button" 
class="btn btn-outline-primary" 
(click)="openModal(template)">
  Crear Evento<br/> Abierto
</button>
  
  <ng-template #template>
    <div class="modal-header">

      <h4 
      class="modal-title pull-left">
        Crear Evento Abierto
      </h4>
      
      <button 
      type="button" 
      class="close pull-right" 
      aria-label="Close" 
      (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
  
    <form 
    autocomplete="nope" 
    (ngSubmit)="onSubmit()" 
    #formulario="ngForm">

      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
  
              <div class="form-group">

                <label 
                for="nombre">
                Nombre:
              </label>

                <input 
                type="text" 
                class="form-control" 
                id="nombre" 
                name="nombre" 
                [(ngModel)]="model.nombre" 
                required  
                placeholder="Nombre evento">
  
              </div>
            </div>
            <div class="col">
              <div class="form-group">
  
                <label 
                for="locacion">
                  Locación:
                </label>
                
                <select 
                ngModel 
                #locacionEventoAbierto="ngModel" 
                required 
                name="locacionEventoAbierto" 
                [(ngModel)]="laLocacion">
                  <option value="" selected disabled>Seleccione un locación</option>
                  <option *ngFor="let l of locaciones" [value]="l.nombre">{{ l.nombre }}</option>
                </select>

              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <div class="form-group">

                <label 
                for="fechaInicio">
                  Inicio:
                </label>
  
                <input 
                required 
                name="fechaInicioEventoAbierto" 
                id="fechaInicioEventoAbierto" 
                [(ngModel)]="fechaInicioEventoAbierto" 
                class="form-control" 
                bsDatepicker 
                [minDate]="fechaDelDia"
                [bsConfig]="datePickerConfig"
                (bsValueChange)="cFechaInicio($event)" 
                style="width: 117px;"
                placeholder="Fecha Inicio">
  
                <div 
                class="alert alert-danger" 
                *ngIf="
                (fechaInicio == null) && 
                (fechaInicio != null)">
                  Por favor complete la fecha de inicio
                </div>

                <div 
                class="alert alert-danger" 
                *ngIf="
                (fechaLimite != null) && 
                (fechaInicio == null) && 
                (fechaFin != null)">
                  Por favor complete la fecha de inicio
                </div>
  
                <timepicker 
                required 
                name="horaInicioEventoAbierto" 
                [(ngModel)]="horaInicioEventoAbierto" 
                [showSpinners]="false"
                [hourStep]="hstep" 
                [minuteStep]="mstep" 
                [showMeridian]="isMeridian" 
                (ngModelChange)="cHoraInicio($event)">
                </timepicker>
  
              </div>
            </div>
            <div class="col">
              <div class="form-group">

                <label 
                for="fechaFin">
                  Fin:
                </label>
  
                <input 
                required 
                name="fechaFinEventoCerrado" 
                [(ngModel)]="fechaFinEventoAbierto" 
                class="form-control" 
                bsDatepicker
                [minDate]="fechaInicio"
                [bsConfig]="datePickerConfig" 
                (bsValueChange)="cFechaFin($event)"
                style="width: 117px;" 
                [isDisabled]="(fechaInicio == null)"
                placeholder="Fecha Fin">
  
                <div 
                class="alert alert-danger" 
                *ngIf="
                (fechaInicio == null) && (
                fechaFin != null)">
                  Por favor complete la fecha de inicio
                </div>

                <div 
                class="alert alert-danger" 
                *ngIf="
                (fechaInicio != null) && 
                (fechaFin != null) && 
                (fechaInicio != null) && 
                (fechaFin == null)">
                  Por favor complete la fecha de inicio
                </div>

                <div 
                class="alert alert-danger" 
                *ngIf="fechaInicio > fechaFin">
                  La fecha de fin del evento debe coincidir o ser posterior a la fecha de inicio
                </div>
  
                <timepicker 
                required 
                name="horaFinEventoAbierto" 
                [(ngModel)]="horaFinEventoAbierto" 
                [showSpinners]="false"
                [hourStep]="hstep" 
                [minuteStep]="mstep" 
                [showMeridian]="isMeridian" 
                (ngModelChange)="cHoraFin($event)">
                </timepicker>
  
                <div 
                class="alert alert-danger" 
                *ngIf="
                (fechaInicio != null) && 
                (fechaFin != null) && 
                (cFechaInicio_val == cfechafin_val) && 
                (chorainicio_val == chorafin_val)">
                  La fecha y hora de inicio y de fin no deben coincidir
                </div>
  
                <div 
                class="alert alert-danger" 
                *ngIf="
                (fechaInicio != null) && 
                (fechaFin != null) && 
                (cFechaInicio_val == cfechafin_val) && 
                (chorainicio_val > chorafin_val)">
                  El horario de fin debe ser posterior al horario de inicio
                </div>
  
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-6">
              <div class="form-group">

                  <label 
                  for="fechaLimite">
                    Fecha Máxima Confirmación:
                  </label>

                  <input 
                  required 
                  name="fechaMaxEventoAbierto" 
                  [(ngModel)]="fechaMaxEventoAbierto" 
                  class="form-control" 
                  bsDatepicker 
                  [bsConfig]="datePickerConfig" 
                  (bsValueChange)="cFechaLimite($event)"
                  style="width: 117px;" 
                  [isDisabled]="(fechaInicio == null)"
                  placeholder="Fecha Max">
  
              </div>
            </div>
  
            <div class="col-6">
              <div class="form-group">
                
                <label 
                for="precioEntrada">
                  Valor de la entrada:
                </label>
                
                <input 
                name="precioEntrada" 
                [(ngModel)]="precioEntrada" 
                required 
                type="number"
                placeholder="Valor de la entrada">

              </div>
              <div class="form-group">
                
                <label 
                for="edadMinima">
                  Edad Mínima:
                </label>
                
                <input 
                name="edadMinima" 
                [(ngModel)]="model.edadMinima" 
                required name="edadMinima" 
                type="number"
                placeholder="Edad mínima">
  
                <div 
                class="alert alert-danger" 
                *ngIf="(edadMinima != null) && (edadMinima == null)">
                  Por favor complete la edad mínima
                </div>

            </div>
          </div>
          </div>

          <div class="row">
            <div class="col-6"></div>
            <div class="col-6">

                <button 
                class="btn btn-danger" 
                (click)="modalRef.hide()">
                 Cancelar
                </button>

                <button 
                class="btn btn-primary" 
                [disabled]="!formulario.valid" 
                (click)="getGenerarEvento(); modalRef.hide();">
                  Aceptar
                </button>
     
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>