<nav class="navbar navbar-expand-sm bg-primary navbar-dark float-md-left fixed-top">
  <a class="navbar-brand" routerLink="/">
      <img src="assets\calendario.png" alt="$event/OS" style="width:40px;">     $event/OS
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/misEventos">Mis Eventos</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/perfil">Perfil</a>
      </li>
    </ul>
  </nav>
  <div><router-outlet></router-outlet></div>

  