<div class="col-sm-10">

  <div class="container"> 
  <h4>Organizados por mí</h4>         
    <table class="table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Evento</th>
          <th>Lugar</th>
          <th>Invitados</th>
          <th>Confirmados</th>
          <th>Rechazados</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>14/10/2018</th>
          <th>Mi Cumpleaños</th>
          <th>Mi Casa</th>
          <th>50</th>
          <th>30</th>
          <th>10</th>
        </tr>
        <tr>
          <th>20/12/2018</th>
          <th>Despedida Julia</th>
          <th>Av. Cabildo 456</th>
          <th>32</th>
          <th>25</th>
          <th>2</th>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-8"></div>
      <div class="col-sm-4">
        <a href=".\crear_evento.html"><button type="button" class="btn btn-outline-primary">Nuevo Evento <br> Abierto</button></a>
        <a href=".\crear_evento.html"><button type="button" class="btn btn-outline-primary">Nuevo Evento <br> Cerrado</button></a>
      </div>
    </div>
  </div>
  
</div>