<div class="col-sm-10">

  <div class="container"> 
  <h4>Hoy</h4>         
    <table class="table">
      <tbody>
        <tr>
          <td>10/10/2018 22:00</td>
          <td>Cumple Kara</td>
          <td>Mi Casa</td>
          <td>Kara Danvers</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container">
    <h4>Esta semana</h4>      
    <table class="table">
      <tbody>
        <tr>
          <td>14/10/2018 22:00</td>
          <td>Hosen Fest</td>
          <td>Club Ciudad</td>
          <td>Die Toten Hosen</td>
        </tr>
        <tr>
          <td>16/10/2018 22:00</td>
          <td>Aniversario P.E.</td>
          <td>25 de Mayo 1485</td>
          <td>Timothy Drake</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container">
    <h4>Próximos</h4>   
    <table class="table">
      <tbody>
        <tr>
          <td>20/12/2018 21:30</td>
          <td>Partido</td>
          <td>Parque Sarmiento</td>
          <td>James Gordon</td>
        </tr>
        <tr>
          <td>20/12/2018 21:30</td>
          <td>Despedida Julia</td>
          <td>Av. Cabildo 456</td>
          <td>Kara Danvers</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>

  