<div class="col-sm-10">

  <div class="container"> 
  <h4>Hoy</h4>         
    <table class="table">
      <tbody>
        <tr *ngFor="let d of dia">
          <td>{{ d.timestamp }}</td>
          <td>{{ d.nombre }}</td>
          <td>{{ d.lugar }}</td>
          <td>{{ d.motivo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container">
    <h4>Esta semana</h4>      
    <table class="table">
      <tbody>
        <tr *ngFor="let s of semana">
          <td>{{ s.timestamp }}</td>
          <td>{{ s.nombre }}</td>
          <td>{{ s.lugar }}</td>
          <td>{{ s.motivo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container">
    <h4>Próximos</h4>   
    <table class="table">
      <tbody>
        <tr *ngFor="let p of proximos">
          <td>{{ p.timestamp }}</td>
          <td>{{ p.nombre }}</td>
          <td>{{ p.lugar }}</td>
          <td>{{ p.motivo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>

  