<br />
<h4>Hoy </h4>
<agenda2 [eventosAgenda]="eventosHoy"></agenda2>
<br />
<h4>Semana </h4>
<agenda2 [eventosAgenda]="eventosSemana"></agenda2>
<br />
<h4>Proximos </h4>
<agenda2 [eventosAgenda]="eventosProximos"></agenda2>


<!--<div *ngIf="eventosHoy.length>0; then tablaEventosHoy else noHayEventos"> </div>

<ng-template #noHayEventos>
  <div class="alert alert-danger">
    No Hay Eventos Agendados Para Hoy
  </div>
</ng-template>


<ng-template #tablaEventosHoy>
  <div class="container">
    <agenda2 [eventosAgenda]="eventosHoy"></agenda2>
  </div>
</ng-template>



<br />
<h4>Esta semana</h4>
<div *ngIf="eventosSemana.length>0; then tablaEventosSemana else noHayEventosSemana"> </div>

<ng-template #noHayEventosSemana>
  <div class="alert alert-danger">
    No Hay Eventos Agendados para la Proxima Semana
  </div>
</ng-template>

<ng-template #tablaEventosSemana>
  <div class="container">
    <agenda2 [eventosAgenda]="eventosSemana"></agenda2>
  </div>
</ng-template>



<br />
<h4>Próximos Eventos</h4>
<div *ngIf="eventosProximos.length>0; then tablaEventosProximos else noHayEventosProximos"> </div>

<ng-template #noHayEventosProximos>
  <div class="alert alert-danger">
    No Hay Eventos Proximos Agendados
  </div>
</ng-template>

<ng-template #tablaEventosProximos>
  <div class="container">
    <agenda2 [eventosAgenda]="eventosProximos"></agenda2>
  </div>
</ng-template>







<!--
 




  <div class="container" *ngFor="let d of eventosHoy">
    <div class="row">
      <div class="col-sm-3">
        {{d.fechaDeInicio}}
      </div>
      <div class="col-sm-3">
        {{ d.nombre}}
      </div>
      <div class="col-sm-3">
        {{d.locacion}}
      </div>
      <div class="col-sm-3">
        {{ d.organizador}}
      </div>
    </div>
  </div>
</ng-template>

  <div class="container" *ngFor="let s of eventosSemana">
  <div class="row">
    <div class="col-sm-3">
      {{s.fechaDeInicio}}
    </div>
    <div class="col-sm-3">
      {{ s.nombre}}
    </div>
    <div class="col-sm-3">
      {{s.locacion}}
    </div>
    <div class="col-sm-3">
      {{ s.organizador}}
    </div>
  </div>
</div>
</ng-template>
  
  
  
  <div class="container" *ngFor="let p of eventosProximos">  <div class="row">
    <div class="col-sm-3">
      {{p.fechaDeInicio}}
    </div>
    <div class="col-sm-3">
      {{ p.nombre}}
    </div>
    <div class="col-sm-3">
      {{p.locacion}}
    </div>
    <div class="col-sm-3">
      {{ p.organizador}}
    </div>
  </div>-->