<div class="col-sm-12">

  <div class="col-sm-12 table-wrapper-scroll-y">
    <h4 style="font-size: 1.5em">Invitaciones Pendientes</h4>
    <table class="table table-bordered table-striped">
      <thead style="font-size: 1em">
        <tr>
          <th>Fecha</th>
          <th>Evento</th>
          <th>Lugar</th>
          <th>Organizador</th>
          <th>Acompañantes</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inv of invitacionesPend">

        <td> {{inv.fechaDeInicio}} </td>
        <td> {{inv.unEventoCerrado}} </td>
         <td> {{inv.lugarDelEvento}} </td>
        <td> {{inv.unUsuario}} </td>
        <td style="text-align: center"> {{inv.cantidadDeAcompanantes}} </td>
        <td>
            <button id="ConfirmarInvitacion" type="button" title="Confirmar Invitacion" class="btn btn-ligth" ><!-- (click)=""-->
                <i class="fa fa-check" style="font-size:1.05em; color:green"></i></button>
            <button id="RechazarInvitacion" type="button" title="Rechazar Invitacion" class="btn btn-ligth" >
              <i class="fa fa-remove" style="font-size:1.05em; color:red"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>