<div *ngIf="eventosAgenda.length>0; then tablaEventos else noHayEventos"> </div>

<ng-template #noHayEventos>
  <div class="alert alert-danger">
    No Hay Eventos Agendados 
    </div>
</ng-template>


<ng-template #tablaEventos>
<div class="container" *ngFor="let p of eventosAgenda">
 <div class="row">
    <div class="col-sm-3">
      {{p.fechaDeInicio}}
    </div>
    <div class="col-sm-3">
      {{ p.nombre}}
    </div>
    <div class="col-sm-3">
      {{p.locacion}}
    </div>
    <div class="col-sm-3">
      {{ p.organizador}}
    </div>
  </div>
</div>
</ng-template>

