<div class="container">
  <h4>Organizados por mi:</h4>
  <br />
  <tabla-cerrados></tabla-cerrados>
  <br />
  <tabla-abiertos></tabla-abiertos>
  <div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <crear-evento-cerrado></crear-evento-cerrado>
      </div>
      
      <div class="col-sm-2">
        <crear-evento-abierto></crear-evento-abierto>
      </div>
      

    </div>
  </div>
</div>