
<div class="container"> 

  <h4>Organizados por mi:</h4>

  <hr>
  

  <tabla-cerrados></tabla-cerrados>

  <hr>
  

  <tabla-abiertos></tabla-abiertos>

  <div class="container">
    <div class="row">
      <div class="col-sm-8"></div>
      <div class="col-sm-4">
        <a href=".\crear_evento.html"><button type="button" class="btn btn-outline-primary">Nuevo Evento <br> Abierto</button></a>
        <a href=".\crear_evento.html"><button type="button" class="btn btn-outline-primary">Nuevo Evento <br> Cerrado</button></a>
      </div>
    </div>
  </div>
  
