<div style="width:12em; align-content: center">

  <mat-form-field style="width:4em" class="mat-strouk-fab">
    <input matInput style="text-align:center"  id="contador" value="{{contador2.valor}}"><!--; text-emphasis: yes-->
  </mat-form-field>
  <button mat-strouk-button  #menos color="primary" matTooltip={{contador2.getLeyendaMenos()}}  id="restar" (click)="contador2.restar()">
    <i class="material-icons">-</i>
  </button>
<button mat-strouk-button  #mas   color="primary"  matTooltip={{contador2.getLeyendaMas()}}  id="sumar" (click)="contador2.sumar()">
    <i class= "material-icons">
     <span  matTooltip="return truecontador2.valor<contador2.valorInicial" 
  ></span>
        +</i>
  </button>
  <!--&nbsp;  matTooltip= "No puede llevar más acompañantes"  *ngIf="contador.valorInicial==contador.valor; then matTooltipDisabled=false; else matTooltipDisabled=true"-->
</div>